services:

  api:
    ports:
      - '8000:8000'
    volumes:
      - ./app:/app/app
    build:
      context: .
      dockerfile: Dockerfile-Dev
    command: [
      'fastapi',
      'run',
      '--reload',
      'app/main.py',
    ]
    restart: unless-stopped